:root {
  --cream: #e9e4d3;
  --purple: #150130;
}

html {
  scroll-padding-top: 110px; /* height of sticky header */
}

body::before {
  display: block;
  content: '';
  height: 60px;
}

.navbar {
  background-color: var(--cream);
}

.navbar-brand {
  font-size: 2em;
  color: var(--purple);
}

.nav-link {
  color: var(--purple);
}

.showcase {
  margin-bottom: 2em;
}

#book {
  width: 25%;
  margin: auto;
  background-color: var(--purple);
}

#book a {
  color: var(--cream);
}

#book a:hover {
  color: #a9dae4;
}

.card {
  height: 300px;
}

.card-description {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px
}

.card-1 {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('https://resources.fina.org/photo-resources/2022/04/08/d67ae73d-bf00-4d05-b630-af347d60e016/GettyImages-1331544961.jpg?width=830');
  background-size: cover;
}
.card-1:hover {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://resources.fina.org/photo-resources/2022/04/08/d67ae73d-bf00-4d05-b630-af347d60e016/GettyImages-1331544961.jpg?width=830');
  background-size: cover;
}

.card-2 {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('https://img.olympicchannel.com/images/image/private/t_s_pog_staticContent_hero_xl_2x/f_auto/primary/ntg4t1lytzt11bzbnkqv');
  background-size: cover;
}
.card-2:hover {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://img.olympicchannel.com/images/image/private/t_s_pog_staticContent_hero_xl_2x/f_auto/primary/ntg4t1lytzt11bzbnkqv');
  background-size: cover;
}

.card-3 {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('https://img.olympicchannel.com/images/image/private/t_s_pog_staticContent_hero_lg/f_auto/primary/e1gypbvpnxnxi3dr5o5p');
  background-size: cover;
}
.card-3:hover {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://img.olympicchannel.com/images/image/private/t_s_pog_staticContent_hero_lg/f_auto/primary/e1gypbvpnxnxi3dr5o5p');
  background-size: cover;
}

.hotel {
  background-color: var(--cream);
  color: var(--purple);
}

.hotel button, #converter .btn {
  background-color: var(--purple);
  color: var(--cream);
}

.hotel button:hover {
  color: #a9dae4;
}

.form-center {
  /* width: 50%; */
  position: relative;
}

.picoly {
  width: 250px;
  height: 250px;
}

.timer, .flag {
  background-color: var(--cream);
}

@media (max-width: 992px) {
  .timer {
    background-color: var(--cream);
  }
  .flag {
    background-color: white;
  }
  #questions .container {
    background-color: var(--cream);
    padding: 20px 10px;
  }
}